@using BH.DIS
@using BH.DIS.WebApp
@using BH.DIS.WebApp.Models
@using BH.DIS.WebApp.Services;
@using BH.DIS.Core.Endpoints;
@using BH.DIS.Core.Events;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Configuration
@model EventTypeViewModel;
@{
    ViewData["Title"] = Model.EventType.Name;
    Layout = "_Layout";
}

<h1>
    <span class="text-info">
        Event Type:
    </span>
    @Model.EventType.Name
</h1>
<p>
    Namespace: <strong>@Model.EventType.Namespace</strong>
</p>
<p class="lead">
    @Model.EventType.Description
</p>

<h3>
    Producers
</h3>
<table class="table table-hover">
    @foreach (var producer in Model.Producers)
    {
        <tr>
            <td>
                <a href="/Endpoints/Details/@producer.Name">@producer.Name</a>
            </td>
        </tr>
    }
</table>

<h3>
    Consumers
</h3>
<table class="table table-hover">
    @foreach (var consumer in Model.Consumers)
    {
        <tr>
            <td>
                <a href="/Endpoints/Details/@consumer.Name">@consumer.Name</a>
            </td>
        </tr>
    }
</table>


<h3>
    Event Properties
</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th colspan="2">
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eventProperty in Model.EventType.Properties)
        {
            <tr>
                <td>
                    @eventProperty.Name
                </td>
                <td>
                    @if (eventProperty.IsRequired)
                    {
                        <span class="text-danger">(Required)</span>
                    }
                </td>
                <td>
                    @eventProperty.TypeName
                </td>
                <td>
                    @eventProperty.Description
                </td>
            </tr>

        }
    </tbody>
</table>

<h3>
    Code
</h3>
<p>
    <a href="@Model.CodeRepoLink" target="_blank">
        <i class="fas fa-link"></i>
        @Model.EventType.Namespace.@Model.EventType.Name
    </a>
</p>

<h3>
    Example event data
</h3>
@if (Model.ExampleEventJson == null)
{
    <p>Not available.</p>
}
else
{
    <partial>
        @await Html.PartialAsync("PrettyJsonDisplay", Model.ExampleEventJson)
    </partial>
}